@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Noto+Sans+KR:wght@100;700;900&family=Noto+Serif+KR:wght@200&family=Playfair+Display:wght@400;600&family=Shrikhand&family=Yeseva+One&display=swap');

:root {
    font-family: 'Anton', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Noto Serif KR', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Shrikhand', cursive;
    font-family: 'Yeseva One', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link, a:visited {
    text-decoration: none;
}

.inner {
    width: 1400px;
    margin: 0 auto;
    display: flex;
}

header {
    width: 100%;
    height: 70px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

nav {
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.nav01, .nav02 {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.nav01 > a, .nav02 > a {
    font-size: 1.2rem;
    font-family: 'Anton';
    color: #000;
}

.main-top{
    margin-top: 5em;
    height: 100%;
}

.main-top > video{
    width: 1400px;
    height: 800px;
    object-fit: cover;
}

.main-top > h2{
    font-family: 'Shrikhand';
    letter-spacing: 0.1rem;
    font-size: 1.5vw;
    display: flex;
    justify-content: flex-end;
}  

